################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bak
/.vs
/src/.vs
/src/.vs/config
/src/.vs/MSC.CodeGenHero/v15
/src/Samples/BingoBuzz/.vs
/src/Samples/BingoBuzz/CodeGenHero.Data/.vs/CodeGenHero.Data/v15
/src/Samples/BingoBuzz/MSC.BingoBuzz.API/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.API/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Constants/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Constants/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Database/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Database/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.DTO/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.DTO/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Repository/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Repository/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Service.DataService/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Service.DataService/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Service.Logging/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Service.Logging/obj
/src/Samples/BingoBuzz/packages
/src/Samples/BingoBuzz/MSC.BingoBuzz.Database/Import Schema Logs
*.jfm
*.user
*.dbmdl
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.Android/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.Android/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.iOS/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.iOS/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.UWP/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Xam/MSC.BingoBuzz.Xam.UWP/bin
/src/CodeGenHero.DataService/bin
/src/CodeGenHero.DataService/obj
/src/CodeGenHero.Logging/bin
/src/CodeGenHero.Logging/obj
/src/CodeGenHero.Logging.Log4net/bin
/src/CodeGenHero.Logging.Log4net/obj
/src/CodeGenHero.Repository/bin
/src/CodeGenHero.Repository/obj
/src/CodeGenHero.Repository.AutoMapper/bin
/src/CodeGenHero.Repository.AutoMapper/obj
/src/CodeGenHero.Template/bin
/src/CodeGenHero.Template/obj
/src/CodeGenHero.WebApi/bin
/src/CodeGenHero.WebApi/obj
/src/CodeGenHero.Xam.MvvmLight/bin
/src/CodeGenHero.Xam.MvvmLight/obj
/src/CodeGenHero.Xam.Sqlite/bin
/src/CodeGenHero.Xam.Sqlite/obj
/src/CodeGenHero.DataService.Core/bin
/src/CodeGenHero.DataService.Core/obj
/src/CodeGenHero.Repository.EntityFramework/bin
/src/CodeGenHero.Repository.EntityFramework/obj
/src/Samples/BingoBuzz/MSC.BingoBuzz.Model/bin
/src/Samples/BingoBuzz/MSC.BingoBuzz.Model/obj
