/****** Object:  Table [dbo].[BingoContent]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoContent](
	[BingoContentId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](250) NOT NULL,
	[FreeSquareIndicator] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BingoContent] PRIMARY KEY CLUSTERED 
(
	[BingoContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BingoInstance]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoInstance](
	[BingoInstanceId] [uniqueidentifier] NOT NULL,
	[MeetingId] [uniqueidentifier] NULL,
	[NumberOfColumns] [int] NOT NULL,
	[NumberOfRows] [int] NOT NULL,
	[IncludeFreeSquareIndicator] [bit] NOT NULL,
	[BingoInstanceStatusTypeId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BingoInstance] PRIMARY KEY CLUSTERED 
(
	[BingoInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BingoInstanceContent]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoInstanceContent](
	[BingoInstanceContentId] [uniqueidentifier] NOT NULL,
	[BingoContentId] [uniqueidentifier] NOT NULL,
	[BingoInstanceId] [uniqueidentifier] NOT NULL,
	[Col] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[FreeSquareIndicator] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BingoInstanceContent] PRIMARY KEY CLUSTERED 
(
	[BingoInstanceContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BingoInstanceEvent]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoInstanceEvent](
	[BingoInstanceEventId] [uniqueidentifier] NOT NULL,
	[BingoInstanceEventTypeId] [int] NOT NULL,
	[BingoInstanceId] [uniqueidentifier] NOT NULL,
	[BingoInstanceContentId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BingoInstanceEvent] PRIMARY KEY CLUSTERED 
(
	[BingoInstanceEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BingoInstanceEventType]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoInstanceEventType](
	[BingoInstanceEventTypeId] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_BingoInstanceEventType] PRIMARY KEY CLUSTERED 
(
	[BingoInstanceEventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BingoInstanceStatusType]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BingoInstanceStatusType](
	[BingoInstanceStatusTypeId] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_BingoInstanceStatusType] PRIMARY KEY CLUSTERED 
(
	[BingoInstanceStatusTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CodeName] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](100) NULL,
	[Address2] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[Zip] [nvarchar](50) NULL,
	[WebsiteUrl] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[MeetingId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Meeting] PRIMARY KEY CLUSTERED 
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingAttendee]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingAttendee](
	[MeetingAttendeeId] [uniqueidentifier] NOT NULL,
	[MeetingId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[NotificationRuleId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_MeetingAttendee] PRIMARY KEY CLUSTERED 
(
	[MeetingAttendeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/6/2018 1:13:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUserId] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[UpdatedUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BingoContent] ([BingoContentId], [Content], [FreeSquareIndicator], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'b69ee36e-cc08-4779-8fa6-020e1a16b743', N'Discussion of requirements modification', 0, CAST(N'2018-02-18T10:13:22.1966667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:13:22.1966667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[BingoContent] ([BingoContentId], [Content], [FreeSquareIndicator], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'6e4fbf16-1536-41da-a4c9-07a94e09cc72', N'Mysterous (child, animal or otherwise) noises', 0, CAST(N'2018-02-18T10:21:54.9133333' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:21:54.9133333' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[BingoContent] ([BingoContentId], [Content], [FreeSquareIndicator], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'e30c4eb4-8000-401c-8632-12edc20975d1', N'Someone broke the build', 0, CAST(N'2018-02-18T10:18:01.5466667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:18:01.5466667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[BingoInstanceEventType] ([BingoInstanceEventTypeId], [Name]) VALUES (1, N'Square Clicked')
INSERT [dbo].[BingoInstanceStatusType] ([BingoInstanceStatusTypeId], [Name]) VALUES (2, N'Active')
INSERT [dbo].[BingoInstanceStatusType] ([BingoInstanceStatusTypeId], [Name]) VALUES (4, N'Complete')
INSERT [dbo].[BingoInstanceStatusType] ([BingoInstanceStatusTypeId], [Name]) VALUES (1, N'New')
INSERT [dbo].[Company] ([CompanyId], [Name], [CodeName], [Address1], [Address2], [City], [State], [Zip], [WebsiteUrl], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'MSCTek', N'MSCTEK', NULL, NULL, N'Geneva', N'Illinois', N'60134', N'www.msctek.com', CAST(N'2018-02-18T10:06:20.6000000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:06:20.6000000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[Meeting] ([MeetingId], [CompanyId], [Name], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'8e99f97e-4f68-4308-beeb-43af72232a44', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'BingoBuzz Sprint Planning', CAST(N'2018-02-18T10:29:55.3766667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:29:55.3766667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[Meeting] ([MeetingId], [CompanyId], [Name], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'47560033-421b-48c2-b8e6-88b878610835', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'BingoBuzz Mockup Review', CAST(N'2018-02-18T10:29:15.1800000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:29:15.1800000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[Meeting] ([MeetingId], [CompanyId], [Name], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'a4e239cf-692a-4108-b9d3-c56a6e4eca2b', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'BingoBuzz Sprint Review', CAST(N'2018-02-18T10:29:33.7866667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:29:33.7866667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[MeetingAttendee] ([MeetingAttendeeId], [MeetingId], [UserId], [NotificationRuleId], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'ac926329-125c-4977-a987-2ba2f6e7cc57', N'47560033-421b-48c2-b8e6-88b878610835', N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', NULL, CAST(N'2018-02-18T10:33:56.5166667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:33:56.5166667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[MeetingAttendee] ([MeetingAttendeeId], [MeetingId], [UserId], [NotificationRuleId], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'91714641-5d2a-49f5-9c59-310955b9e52d', N'8e99f97e-4f68-4308-beeb-43af72232a44', N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', NULL, CAST(N'2018-02-18T10:33:37.2100000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:33:37.2100000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[MeetingAttendee] ([MeetingAttendeeId], [MeetingId], [UserId], [NotificationRuleId], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'f8c83ac2-f2f9-4b29-bd0e-3fbe03844cd3', N'a4e239cf-692a-4108-b9d3-c56a6e4eca2b', N'9f3441f1-625c-439e-96eb-19ec41076408', NULL, CAST(N'2018-02-18T10:34:22.6100000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:34:22.6100000' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[User] ([UserId], [CompanyId], [Email], [FirstName], [LastName], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'9f3441f1-625c-439e-96eb-19ec41076408', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'paul@msctek.com', N'Paul', N'Schroeder', CAST(N'2018-02-18T10:07:38.8666667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:07:38.8666667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[User] ([UserId], [CompanyId], [Email], [FirstName], [LastName], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'04b27cab-48d1-40ff-bf78-b79e834e2145', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'jwall@msctek.com', N'Jim', N'Wall', CAST(N'2018-02-18T10:08:06.1066667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:08:06.1066667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
INSERT [dbo].[User] ([UserId], [CompanyId], [Email], [FirstName], [LastName], [CreatedDate], [CreatedUserId], [UpdatedDate], [UpdatedUserId], [IsDeleted]) VALUES (N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', N'7a1d1116-4b6b-4df6-9f9b-6af4d222ff32', N'robin@msctek.com', N'Robin', N'Schroeder', CAST(N'2018-02-18T10:06:14.3766667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', CAST(N'2018-02-18T10:06:14.3766667' AS DateTime2), N'b79ed0e3-ddb9-4920-8900-ffc55a73b4b5', 0)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_BingoInstanceEventType]    Script Date: 3/6/2018 1:13:55 AM ******/
ALTER TABLE [dbo].[BingoInstanceEventType] ADD  CONSTRAINT [UC_BingoInstanceEventType] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_BingoInstanceStatusType]    Script Date: 3/6/2018 1:13:55 AM ******/
ALTER TABLE [dbo].[BingoInstanceStatusType] ADD  CONSTRAINT [UC_BingoInstanceStatusType] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Company_CodeName]    Script Date: 3/6/2018 1:13:55 AM ******/
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [UC_Company_CodeName] UNIQUE NONCLUSTERED 
(
	[CodeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BingoContent] ADD  CONSTRAINT [DF_BingoContent_BingoContentId]  DEFAULT (newid()) FOR [BingoContentId]
GO
ALTER TABLE [dbo].[BingoContent] ADD  CONSTRAINT [DF_BingoContent_FreeSquareIndicator]  DEFAULT ((0)) FOR [FreeSquareIndicator]
GO
ALTER TABLE [dbo].[BingoContent] ADD  CONSTRAINT [DF_BingoContent_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BingoInstance] ADD  CONSTRAINT [DF_BingoInstance_BingoInstanceId]  DEFAULT (newid()) FOR [BingoInstanceId]
GO
ALTER TABLE [dbo].[BingoInstance] ADD  CONSTRAINT [DF_BingoInstance_IncludeFreeSquareIndicator]  DEFAULT ((1)) FOR [IncludeFreeSquareIndicator]
GO
ALTER TABLE [dbo].[BingoInstance] ADD  CONSTRAINT [DF_BingoInstance_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BingoInstanceContent] ADD  CONSTRAINT [DF_BingoInstanceContent_BingoInstanceContentId]  DEFAULT (newid()) FOR [BingoInstanceContentId]
GO
ALTER TABLE [dbo].[BingoInstanceContent] ADD  CONSTRAINT [DF_BingoInstanceContent_FreeSquareIndicator]  DEFAULT ((1)) FOR [FreeSquareIndicator]
GO
ALTER TABLE [dbo].[BingoInstanceContent] ADD  CONSTRAINT [DF_BingoInstanceContent_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BingoInstanceEvent] ADD  CONSTRAINT [DF_BingoInstanceEvent_BingoInstanceEventId]  DEFAULT (newid()) FOR [BingoInstanceEventId]
GO
ALTER TABLE [dbo].[BingoInstanceEvent] ADD  CONSTRAINT [DF_BingoInstanceEvent_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CompanyId]  DEFAULT (newid()) FOR [CompanyId]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Meeting] ADD  CONSTRAINT [DF_Meeting_MeetingId]  DEFAULT (newid()) FOR [MeetingId]
GO
ALTER TABLE [dbo].[Meeting] ADD  CONSTRAINT [DF_Meeting_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MeetingAttendee] ADD  CONSTRAINT [DF_MeetingAttendee_MeetingAttendeeId]  DEFAULT (newid()) FOR [MeetingAttendeeId]
GO
ALTER TABLE [dbo].[MeetingAttendee] ADD  CONSTRAINT [DF_MeetingAttendee_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BingoContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoContent_User_CreatedUserId] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoContent] CHECK CONSTRAINT [FK_BingoContent_User_CreatedUserId]
GO
ALTER TABLE [dbo].[BingoContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoContent_User_UpdatedUserId] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoContent] CHECK CONSTRAINT [FK_BingoContent_User_UpdatedUserId]
GO
ALTER TABLE [dbo].[BingoInstance]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstance_BingoInstanceStatusType] FOREIGN KEY([BingoInstanceStatusTypeId])
REFERENCES [dbo].[BingoInstanceStatusType] ([BingoInstanceStatusTypeId])
GO
ALTER TABLE [dbo].[BingoInstance] CHECK CONSTRAINT [FK_BingoInstance_BingoInstanceStatusType]
GO
ALTER TABLE [dbo].[BingoInstance]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstance_Meeting] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meeting] ([MeetingId])
GO
ALTER TABLE [dbo].[BingoInstance] CHECK CONSTRAINT [FK_BingoInstance_Meeting]
GO
ALTER TABLE [dbo].[BingoInstance]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstance_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstance] CHECK CONSTRAINT [FK_BingoInstance_User_Created]
GO
ALTER TABLE [dbo].[BingoInstance]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstance_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstance] CHECK CONSTRAINT [FK_BingoInstance_User_Updated]
GO
ALTER TABLE [dbo].[BingoInstanceContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceContent_BingoContent] FOREIGN KEY([BingoContentId])
REFERENCES [dbo].[BingoContent] ([BingoContentId])
GO
ALTER TABLE [dbo].[BingoInstanceContent] CHECK CONSTRAINT [FK_BingoInstanceContent_BingoContent]
GO
ALTER TABLE [dbo].[BingoInstanceContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceContent_BingoInstance] FOREIGN KEY([BingoInstanceId])
REFERENCES [dbo].[BingoInstance] ([BingoInstanceId])
GO
ALTER TABLE [dbo].[BingoInstanceContent] CHECK CONSTRAINT [FK_BingoInstanceContent_BingoInstance]
GO
ALTER TABLE [dbo].[BingoInstanceContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceContent_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstanceContent] CHECK CONSTRAINT [FK_BingoInstanceContent_User_Created]
GO
ALTER TABLE [dbo].[BingoInstanceContent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceContent_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstanceContent] CHECK CONSTRAINT [FK_BingoInstanceContent_User_Updated]
GO
ALTER TABLE [dbo].[BingoInstanceEvent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceEvent_BingoInstance] FOREIGN KEY([BingoInstanceId])
REFERENCES [dbo].[BingoInstance] ([BingoInstanceId])
GO
ALTER TABLE [dbo].[BingoInstanceEvent] CHECK CONSTRAINT [FK_BingoInstanceEvent_BingoInstance]
GO
ALTER TABLE [dbo].[BingoInstanceEvent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceEvent_BingoInstanceContent] FOREIGN KEY([BingoInstanceContentId])
REFERENCES [dbo].[BingoInstanceContent] ([BingoInstanceContentId])
GO
ALTER TABLE [dbo].[BingoInstanceEvent] CHECK CONSTRAINT [FK_BingoInstanceEvent_BingoInstanceContent]
GO
ALTER TABLE [dbo].[BingoInstanceEvent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceEvent_BingoInstanceEventType] FOREIGN KEY([BingoInstanceEventTypeId])
REFERENCES [dbo].[BingoInstanceEventType] ([BingoInstanceEventTypeId])
GO
ALTER TABLE [dbo].[BingoInstanceEvent] CHECK CONSTRAINT [FK_BingoInstanceEvent_BingoInstanceEventType]
GO
ALTER TABLE [dbo].[BingoInstanceEvent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceEvent_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstanceEvent] CHECK CONSTRAINT [FK_BingoInstanceEvent_User_Created]
GO
ALTER TABLE [dbo].[BingoInstanceEvent]  WITH CHECK ADD  CONSTRAINT [FK_BingoInstanceEvent_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BingoInstanceEvent] CHECK CONSTRAINT [FK_BingoInstanceEvent_User_Updated]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User_Created]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User_Updated]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_Company]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_User_Created]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_User_Updated]
GO
ALTER TABLE [dbo].[MeetingAttendee]  WITH CHECK ADD  CONSTRAINT [FK_MeetingAttendee_Meeting] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meeting] ([MeetingId])
GO
ALTER TABLE [dbo].[MeetingAttendee] CHECK CONSTRAINT [FK_MeetingAttendee_Meeting]
GO
ALTER TABLE [dbo].[MeetingAttendee]  WITH CHECK ADD  CONSTRAINT [FK_MeetingAttendee_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[MeetingAttendee] CHECK CONSTRAINT [FK_MeetingAttendee_User]
GO
ALTER TABLE [dbo].[MeetingAttendee]  WITH CHECK ADD  CONSTRAINT [FK_MeetingAttendee_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[MeetingAttendee] CHECK CONSTRAINT [FK_MeetingAttendee_User_Created]
GO
ALTER TABLE [dbo].[MeetingAttendee]  WITH CHECK ADD  CONSTRAINT [FK_MeetingAttendee_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[MeetingAttendee] CHECK CONSTRAINT [FK_MeetingAttendee_User_Updated]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Created] FOREIGN KEY([CreatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Created]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Updated] FOREIGN KEY([UpdatedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Updated]
GO
